*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    background-color: red;
    display: flex;
    flex-basis: 500px;
}

#maior{
    margin:30px;
    border-radius: 10px;
    text-align: center;
    background-color: darkgrey;
    display: flex;
    flex-flow: column nowrap;
}
#div1{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: black;
}
#buttondiv1{
    display: flex;
    flex-basis: 250px;
    justify-content: center;
    flex-flow: row wrap;
}
#div2{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.buttondiv2{
    flex-basis: 250px;
    display: flex;
    justify-content: center;
}
#div3{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.buttondiv3{
    flex-basis: 250px;
    display: flex;
    justify-content: center;
}
#div4{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#div5{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}